<div class="col-md-12">
    <div>
        <div class="col-md-12">
            <h4>Sales Orders</h4>
            <kendo-grid id="grid" options="mainGridOptions"></kendo-grid>
            <hr />
        </div>
    </div>
</div>
